[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "syd-portfolio/themes/ananke"]
	path = syd-portfolio/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
